<script async src="https://campaign.manifoldxyz.dev/0.0.2/campaign.umd.min.js"></script>
<link rel="stylesheet" href="https://campaign.manifoldxyz.dev/0.0.2/campaign.css">

<script src="https://connect.manifoldxyz.dev/2.0.14/connect.umd.min.js"></script>
<link rel="stylesheet" href="https://connect.manifoldxyz.dev/2.0.14/connect.css" />

<div data-widget="m-connect" data-multi="true" data-detect-app="true">
</div>

<div data-widget="m-add-to-cart">
</div>

<style>
  

#m-connection {
  display: block !important;
  width: 100% !important;
}

/* Make m-connection buttons look like Shopify Dawn buttons */  
#m-connection button {
  position: relative;
  width: 100%;
  margin: 1.5rem 0 0 0;
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  border-radius: var(--buttons-radius-outset);
  position: relative;
  max-width: 44rem;
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 500;
  border-radius: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  transition: all 0.1s ease;
}

/* Show disabled state visually while Logging In.... */  
#m-connection button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.3;
}

/* Uppercase ENS and ETH Addresses */
#m-connection.connected .m-connection-wallet {
  text-transform: uppercase;
}

/* Push disconnect button next to connect button */
.m-connection-disconnect-wallet {
  margin-top: 0 !important;
  border-top: none !important;
}

/* Match hover button styles from Dawn */
#m-connection button:hover {
  border: 2.5px solid black;
}

/* Remove conflicting outline Dawn uses by default*/
#m-connection button:focus {
  outline: none;
  box-shadow: none;
}

/* Fix clipping text */
#m-connection button > span {
  line-height: 2em;
}

/* Make m-add-to-cart button look like Shopify Dawn buttons */  
.m-apply-discount-button,
.m-add-to-cart-button,
.m-discount-available,
.m-discount-eligible,
.m-discount-inactive,
.m-token-exclusive-warning,
.manifold.loading-screen {
  min-width: calc(12rem + var(--buttons-border-width) * 2);
  min-height: calc(4.5rem + var(--buttons-border-width) * 2);
  border-radius: var(--buttons-radius-outset);
  position: relative;
  max-width: 44rem;
  background-color: rgba(var(--color-button),var(--alpha-button-background));
  color: rgb(var(--color-button-text));
  font-family: inherit;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-weight: 500;
  border-radius: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  transition: all 0.1s ease;
}
  
.m-discount-available {
  color: black;
  font-size: 1rem;
}
  
.m-apply-discount-button span {
  text-align: center;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}
  
.m-apply-discount-button:hover {
  background-color: rgba(var(--color-button-text));
  color: rgb(var(--color-button),var(--alpha-button-background));
  border: 1px solid #ccc;
}
  
.m-apply-discount-button[disabled] {
  background: #e5e5e5;
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
  border: none;
}

.m-apply-discount-button span.success {
  background-image: linear-gradient(45deg, rgba(50, 200, 50, 0.8), rgba(55, 180, 55, 0.8));
  background-color: rgba(50, 50, 200, 0.5);
  border-bottom: 1px solid #4c4;
}
  
.m-apply-discount-button span.error {
  background-image: linear-gradient(45deg, rgba(200, 50, 50, 0.8), rgba(180, 55, 55, 0.8));
  background-color: rgba(50, 50, 200, 0.5);
  border-bottom: 1px solid #c44;
}

.m-add-to-cart-button span {
  text-align: center;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}
  
.m-add-to-cart-button:hover {
  background-color: rgba(var(--color-button-text));
  color: rgb(var(--color-button),var(--alpha-button-background));
  border: 1px solid #ccc;
}
.m-add-to-cart-button[disabled] {
  background: #e5e5e5;
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
  border: none;
}

.m-add-to-cart-button span.success {
  background-image: linear-gradient(45deg, rgba(50, 200, 50, 0.8), rgba(55, 180, 55, 0.8));
  background-color: rgba(50, 50, 200, 0.5);
  border-bottom: 1px solid #4c4;
}
  
.m-add-to-cart-button span.error {
  background-image: linear-gradient(45deg, rgba(200, 50, 50, 0.8), rgba(180, 55, 55, 0.8));
  background-color: rgba(50, 50, 200, 0.5);
  border-bottom: 1px solid #c44;
}

.m-url-production-selection button div {
  display: inherit;
}

.m-add-to-cart-popup-container {
  z-index: 1000000 !important;
  position: fixed !important;
}
  
.m-add-to-cart-popup-header > h1 {
  line-height: 1.2em !important;
}
  
.m-redeemable-tokens-none > h1 {
  line-height: 1.2em !important;
  text-align: center;
  margin: 30px;
  font-size: 30px;
}
  
.m-url-product-selection button div {
  display: block !important;
}
  
.m-add-to-cart {
  display: block !important;
}
</style>